<h1>Infant Online Registration and Evaluation System</h1>
<p>Welcome to our demo website</p>

<p>To help you get started, we've also provided steps to perform CRUD operation on Employee Data:</p>
<ul>
    <li><strong>Step1</strong>.click on<em>Details</em></li>
    <li><strong>Step2</strong>.click on<em>Create New</em></li>
    <li><strong>Step3</strong>.Enter the required details in the text box provided</li>
    <li><strong>Step4</strong>.click on<em>Save</em></li>
    <li>Use <em>edit/delete</em>button to further update the details in the database</li>
</ul>
