<div class="row col-md-offset-4" >
    <div class="col-sm-6" style="border:1px solid grey">
        <form class="form-auth">
            <h2 class="form-auth-heading">IPAN Sign Up</h2>

            <div class="alert alert-danger" ng-if="sc.signupError" role="alert">{{ sc.signupErrorMessage }}</div>
            <div class="alert alert-success" ng-if="sc.signupSuccess" role="alert">Account created! You can <a ui-sref="login">login</a> now!</div>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" ng-model="sc.username" class="form-control" placeholder="Username" style="margin-bottom: 5px" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" ng-model="sc.password" class="form-control" placeholder="Password" style="margin-bottom: 50px" required>
            <a href="/" style="text-decoration: none;"><button class="btn btn-lg btn-basic btn-block" style="margin-bottom: 5px">Back</button></a>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="sc.signup()">Sign Up with IPAN</button>
            <br>
        </form>
    </div>
</div>